# -----------------------------------------------------------------------------
# Misc.
# -----------------------------------------------------------------------------

Language: Cpp
Standard: Latest

BasedOnStyle: Google

ColumnLimit: 80
AccessModifierOffset: -4
TabWidth: 4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

UseCRLF: false
UseTab: Never

CommentPragmas: '^ IWYU pragma:'
CompactNamespaces: false

Cpp11BracedListStyle: true

DeriveLineEnding: true
DerivePointerAlignment: false
DisableFormat: false

ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true

ReflowComments: true

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

# -----------------------------------------------------------------------------
# Alignment
# -----------------------------------------------------------------------------

AlignAfterOpenBracket: DontAlign

# AlignArrayOfStructures: Right # Clang-format 13
# AlignConsecutiveBitFields: AcrossEmptyLines # Clang-format 11

AlignConsecutiveAssignments: false
AlignConsecutiveMacros: AcrossEmptyLines
AlignTrailingComments: Always
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Right
AlignOperands: false
AlignTrailingComments: true

PointerAlignment: Left
# ReferenceAlignment: Left # Clang-format 13

# -----------------------------------------------------------------------------
# Allowance
# -----------------------------------------------------------------------------

# Packing
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

# Single line
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# -----------------------------------------------------------------------------
# Breaking
# -----------------------------------------------------------------------------

# Always break
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes

# Bin
BinPackArguments: false
BinPackParameters: false

# Wrap
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  #BeforeLambdaBody: true  # Find relevant version of Clang-format
  #BeforeWhile: true       # Find relevant version of Clang-format
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Break before
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true

# Break
BreakInheritanceList: BeforeColon
BreakConstructorInitializers: BeforeColon
BreakStringLiterals: true

# BreakArrays: False # Clang-format 16

# -----------------------------------------------------------------------------
# Identation
# -----------------------------------------------------------------------------

# Indent
IndentCaseLabels: false
IndentGotoLabels: true
IndentPPDirectives: None
IndentWidth: 4
IndentWrappedFunctionNames: false

# Namespace
NamespaceIndentation: None

# -----------------------------------------------------------------------------
# Penalties
# -----------------------------------------------------------------------------

PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60

# -----------------------------------------------------------------------------
# Sorting
# -----------------------------------------------------------------------------

SortIncludes: true
SortUsingDeclarations: true

# -----------------------------------------------------------------------------
# Spacing
# -----------------------------------------------------------------------------

# Space after
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true

# Space before
SpaceBeforeAssignmentOperators:        true
SpaceBeforeCpp11BracedList:            false
SpaceBeforeCtorInitializerColon:       true
SpaceBeforeInheritanceColon:           true
SpaceBeforeParens:                     ControlStatements
SpaceBeforeRangeBasedForLoopColon:     true
SpaceBeforeSquareBrackets:             false

SpacesBeforeTrailingComments: 1

# Space in
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false

SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# EmptyLineBeforeAccessModifier: Always # Clang-format 12

# -----------------------------------------------------------------------------
# Macros
# -----------------------------------------------------------------------------


MacroBlockBegin: ''
MacroBlockEnd: ''

ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH

StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION

# -----------------------------------------------------------------------------
# Includes
# -----------------------------------------------------------------------------

IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        2
    SortPriority:    0
  - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
    Priority:        3
    SortPriority:    0
  - Regex:           '.*'
    Priority:        1
    SortPriority:    0

IncludeIsMainRegex: '(Test)?$'
IncludeIsMainSourceRegex: ''

