# Ignore all directories
*/*

# Allow directories within the project structure
!cmake/
!examples/
!resources/
!scripts/
!src/
!test/

# Vim files
*.swp
*.swo

# Visual C++ cache files
out/
.vs/
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
