[submodule "extern/spdlog"]
	path = extern/spdlog
	url = ../../gabime/spdlog.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = ../../markvilar/imgui
[submodule "extern/glfw"]
	path = extern/glfw
	url = ../../markvilar/glfw.git
[submodule "extern/glad"]
	path = extern/glad
	url = ../../markvilar/glad.git
[submodule "extern/glm"]
	path = extern/glm
	url = ../../markvilar/glm.git
[submodule "extern/serializer"]
	path = extern/serializer
	url = ../../markvilar/serializer.git
[submodule "extern/stb"]
	path = extern/stb
	url = ../../markvilar/stb.git
[submodule "extern/asio"]
	path = extern/asio
	url = ../../markvilar/asio.git
