[submodule "extern/spdlog"]
	path = extern/spdlog
	url = ../../gabime/spdlog.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = ../../markvilar/imgui
[submodule "extern/glfw"]
	path = extern/glfw
	url = ../../markvilar/glfw.git
