# Ignore some common directories
bin/
build/
install/
packages/

# Vim files
*.swa
*.swn
*.swo
*.swp

# Visual C++ cache files
out/
.vs/
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Conan files
*/conanbuildinfo.cmake
*/conanbuildinfo.txt
*/conaninfo.txt
*/conan.lock
*/graph_info.json
