
[submodule "Sennet/vendor/asio"]
	path = Sennet/Vendor/asio
	url = https://github.com/markvilar/asio.git
[submodule "Sennet/vendor/glad"]
	path = Sennet/Vendor/glad
	url = https://github.com/markvilar/glad.git
[submodule "Sennet/vendor/glfw"]
	path = Sennet/Vendor/glfw
	url = https://github.com/markvilar/glfw.git
[submodule "Sennet/vendor/glm"]
	path = Sennet/Vendor/glm
	url = https://github.com/markvilar/glm.git
[submodule "Sennet/vendor/imgui"]
	path = Sennet/Vendor/imgui
	url = https://github.com/markvilar/imgui.git
[submodule "Sennet/vendor/spdlog"]
	path = Sennet/Vendor/spdlog
	url = https://github.com/markvilar/spdlog.git
[submodule "Sennet/vendor/stb"]
	path = Sennet/Vendor/stb
	url = https://github.com/markvilar/stb.git
[submodule "Sennet/Vendor/evpp"]
	path = Sennet/Vendor/evpp
	url = https://github.com/markvilar/evpp.git
